@media (prefers-color-scheme: light) {
  a:hover {
    color: mediumpurple;
  }
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h2 {
  color: #00bedc;
  font-weight: 500;
  line-height: 2.5rem;
  font-size: 2rem;
  margin: 1rem auto;
}

/* Start/Stop button */
.btn-trigger {
  background-color: #00bedc;
  color: #fff;
  border: 1px solid #00a1b5;
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Increased padding for a better look */
  font-size: 16px; /* Larger font size */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text for emphasis */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  cursor: pointer; /* Pointer cursor on hover */
}

.btn-trigger:hover {
  background-color: #0099b5; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.btn-trigger.running {
  background-color: red; /* Color for running state */
  border-color: darkred; /* Darker border for contrast */
}


.settings-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-settings{
  width: 16px;
  height: auto;
  margin-right: 8px;
}
.settings-label{
  color: blue;
  cursor: pointer;
}
.settings-label:hover{
  color: #eb00eb;
}

.msg1{
  font-size: 1.2rem;
  margin: 2rem 0;
}
.msg1 a#how-link{
  font-size: 1rem !important;
}
