:root{
  --colorRed: #ff0055;
  --colorTweeter: #00bedc;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  max-width: 1200px;
  min-width: 1000px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
  border-radius: 12px; /* More rounded corners */
  padding: 0 2rem;
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

main:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}

h3 {
  font-size: 2rem;
  color: var(--colorTweeter);
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}


/* each row */
.row:not(:last-child){
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
.row:not(:first-child) {
  border-top: 1px solid #ccc;
}
.row h4{
  text-align: center;
}
.row .hints{
  color: #aaa;
  margin-bottom: 4px;
}

/* content-to-post */
.content-to-post textarea{
  width: 100%;
  height: 200px;
}
.content-to-post .btn-container{
  text-align: center;
}

.row:last-child{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*
---------------------------------------------
                  DARK MODE
---------------------------------------------
*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ccc;
  }

  main {
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .download-info .down-count {
    color: #bb86fc;
  }

  .source-code a {
    color: #bb86fc;
  }
}
